@model TestTaskTwo.Models.PizzaModel

<html lang="ru">
<head>
    <meta charset="utf-8">
</head>
<body>
    <div class="my-flex-container">
        <div class="itemDetail">
            <img src="@(Url.Content("~/images/" + Model.Image))" class="imageDetail" alt="@Model.Name" />
            <h2>@Model.Name</h2>
            <h6>@Model.Ingredients</h6>

            @if (Model.Price == "Временно недоступно")
            {
                <div class="price">@Model.Price</div>
            }
            else
            {
                <div class="price">@Model.Price₽</div>
            }
        </div>
    </div>
</body>
</html>
