@model IEnumerable<TestTaskTwo.Models.PizzaModel>
<html lang="ru">
<head>
    <meta charset="utf-8">
</head>
<body>
    <div class="Pizza"><h1>Пиццы</h1></div>
    <div class="my-flex-container">
        @foreach (var pizza in Model)
        {
            <div class="item">
                <img src="@(Url.Content("~/images/" + pizza.Image))" class="image">
                <h2><a class ="name_Link" href='@Url.Action("Detail", "Home", new { id = pizza.Id })'>@pizza.Name</a></h2>
                <h6>@pizza.Ingredients</h6>
                <!-- Тут вывод цены. Снова решил сделать типо исключение 
                    Я всё понимаю. Это же работает, почему нет?
                    просто изначально в css не проработал это и решил пусть будет так -->
                @if (pizza.Price == "Временно недоступно")
                {
                    <div class="price">@pizza.Price</div>
                }
                else
                {
                    <div class="price">@($"{pizza.Price}₽")</div>
                }
            </div>
        }
    </div>
</body>
</html>
